doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    base(href="/app")
    meta(name="description" content="")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")

    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-aria/angular-aria.js")
    script(src="/bower_components/angular-animate/angular-animate.js")
    script(src="/bower_components/angular-cookies/angular-cookies.js")
    script(src="/bower_components/angular-material/angular-material.js")
    script(src="/bower_components/angular-messages/angular-messages.js")
    script(src="/bower_components/angular-mocks/angular-mocks.js")
    script(src="/bower_components/angular-moment/angular-moment.js")
    script(src="/bower_components/angular-resource/angular-resource.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="/bower_components/angular-socket-io/socket.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.js")
    script(src="/bower_components/lodash/dist/lodash.js")
    script(src="/bower_components/moment/moment.js")

    script(src="/home-wrecker/components/io/io.service.js")
    script(src="/home-wrecker/components/lodash/lodash.service.js")
    script(src="/home-wrecker/components/resource/resource.service.js")
    script(src="/home-wrecker/components/socket/socket.service.js")

    script(src="/home-wrecker/index.js")

    script(src="/home-wrecker/controllers/main/main.controller.js")
    script(src="/home-wrecker/controllers/main/main.js")

    script(src="/home-wrecker/app.controller.js")
